* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorBase: #1e2233;
  --colorBase50: #304251;
  --colorBaseRGBA: rgba(3, 3, 3, 0.8);
  --colorPrincipal: #5d91df;
  --colorFuentes: #fff;
  --colorSubfuentes: #ccc;
  --logoFuente: "Palette Mosaic", cursive;
  --titleFuente: "Oswald", sans-serif;
  --subtitle: "Roboto", sans-serif;
  --textFuente: "Montserrat", sans-serif;
}

.fa-html5 {
  color: #ef6026;
}
.fa-css3-alt {
  color: #29a8e0;
}
.fa-js-square {
  color: #ffd93a;
}
.fa-php {
  background-color: #777bb3 !important;
  color: black;
}
.fa-bootstrap {
  color: #810af9;
}
.fa-database {
  color: #3d7ca6;
}
.fa-android {
  color: #2edf85;
}
.fa-server {
  color: var(--colorPrincipal);
}
.fa-mdb {
  color: #1cb8d8;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.activo {
  color: var(--colorPrincipal) !important;
}

.sticky {
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: 20 !important;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--colorBase);
}

.responsive-menu {
  display: none;
}

.divicion {
  display: block;
  width: 60%;
  border-radius: 100px;
  margin: 0 auto;
  height: 3px;

  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--colorPrincipal),
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--colorPrincipal),
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.margenes {
  margin: 34px;
}

.btn {
  padding: 12px 32px;
  border-radius: 5px;
}

.btn-border {
  background-color: transparent;
  border: 1px solid var(--colorPrincipal);
}

.btn-primary {
  background-color: var(--colorPrincipal);
}

body {
  background-color: var(--colorBase);
}

body::-webkit-scrollbar {
  width: 4px;
  background-color: var(--colorBaseRGBA);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--colorPrincipal);
}

img {
  width: 100%;
}

/* -----------------------HEADER SECTION START---------------------------- */

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero::after {
  content: "";
  top: 0;
  z-index: 1;
  width: 20%;
  height: 100%;
  position: absolute;
}

.hero {
  width: 100%;
  background-image: url(../img/hero.gif);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorBaseRGBA);
}

.navigation {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.navigation .logo {
  width: 220px;
  text-align: center;
}

.navigation .logo h1 {
  font-family: var(--logoFuente);
  font-size: 42px;
  color: var(--colorPrincipal);
}

.navigation .logo h1 > span {
  color: var(--colorBase50);
  font-size: 42px;
}

.navigation nav ul {
  list-style: none;
}

.navigation nav ul li {
  display: inline-block;
  padding: 16px;
}

.navigation nav ul li a {
  font-family: var(--titleFuente);
  cursor: pointer;
  color: var(--colorFuentes);
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.navigation nav ul li a:hover {
  color: var(--colorPrincipal);
}

.items-header {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.items-header .bg-picture {
  margin: 0 42px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.items-header .bg-picture img {
  position: relative;
  z-index: 100;
}

.items-header .bg-picture::before {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: var(--colorBase); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorFuentes)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorBase)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.present {
  width: 80%;
}

.text-list {
  width: 500px;
  text-align: justify;
}

.present .title h2 {
  color: var(--colorFuentes);
  font-weight: bold;
  font-size: 32px;
  font-family: var(--titleFuente);
}

.present .subtitle p {
  color: var(--colorSubfuentes);
  font-size: 18px;
  font-family: var(--subtitle);
}

.present .links-header {
  margin-top: 24px;
  position: relative;
}

.present .links-header a {
  text-decoration: none;
  color: var(--colorFuentes);
  transition: all 0.5s ease;
  position: absolute;
  cursor: pointer;
  font-family: var(--titleFuente);
}

.present .links-header a:hover {
  border: 1px solid var(--colorFuentes);
  background-color: var(--colorPrincipal);
  transform: rotateY(360deg);
  text-transform: uppercase;
}

.links-red {
  position: relative;
}

.arrow-guide {
  position: absolute;
  z-index: 0;
  bottom: -110px;
  right: 10px;
}

.arrow-guide img {
  width: 300px;
  transform: rotateX(180deg);
}

.arrow-guide span {
  font-size: 32px;
  color: var(--colorPrincipal);
  position: absolute;
  top: -10px;
  left: -30px;
  font-weight: 300;
  font-family: var(--titleFuente);
}

.list-social nav ul {
  list-style: none;
}

.list-social nav ul li {
  padding: 14px;
  position: relative;
  margin-bottom: 16px;
}

.list-social nav ul li a {
  transition: all 0.3s ease;
  color: var(--colorFuentes);
  padding: 16px;
  margin-right: 16px;
  background-color: var(--colorPrincipal);
  position: absolute;
  top: 0;
}

.list-social nav ul li a:hover {
  transform: translateX(-30px);
}

.modal-sericios {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--colorBaseRGBA);
  z-index: 4;
  visibility: hidden;
}

.title-sercices {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-sercices h2 {
  color: var(--colorPrincipal);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
}

.close {
  position: absolute;
  width: 100%;
  height: 100%;
}

.close-modal-s {
  background-color: var(--colorFuentes);
  color: var(--colorPrincipal);
  position: absolute;
  top: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  margin: 16px;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.close-modal-s:hover {
  color: red;
  transform: rotate(180deg);
}

.sericios-box {
  max-width: 800px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 30px;
  max-height: 600px;
  height: 100%;
  position: relative;
  z-index: 5;
}

.box-services {
  padding: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.carta {
  position: relative;
  margin: 16px;
  z-index: 3;
  padding: 16px;
  background-color: #fff;
  border-radius: 20px;
}

.carta.blue-bg {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carta.orange-bg {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carta.red-bg {
  background: #f00000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #dc281e,
    #f00000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #dc281e,
    #f00000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.carta.green-bg {
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #155799,
    #159957
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #155799,
    #159957
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-services-flex {
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container-services-flex .title-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.container-services-flex .title-services h2 {
  color: var(--colorBase);
  font-family: var(--titleFuente);
}

.container-services-flex .title-services span {
  background-color: green;
  color: var(--colorFuentes);
  border-radius: 5px;
  padding: 4px;
  font-family: var(--subtitle);
}

.container-services-flex .information-servics {
  margin-bottom: 8px;
}

.container-services-flex .information-servics p {
  text-align: justify;
  color: var(--colorFuentes);
  font-family: var(--textFuente);
}

.icon-services {
  width: 100%;
  text-align: right;
  padding: 8px;
}

.icon-services span i {
  font-size: 32px;
  color: rgb(46, 38, 71);
}

/* -----------------------HEADER SECTION END---------------------------- */

/* -----------------------MAIN SECTION-ABOUT-ME START---------------------------- */

main section.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.pic-container {
  margin-left: 3rem;
  position: relative;
}

.pic-container img {
  border: 8px solid var(--colorBase50);
  position: relative;
  background-color: var(--colorFuentes);
  width: 240px;
}

main section.about-me .mosaico {
  width: 240px;
  height: 310px;
  border: 8px solid var(--colorPrincipal);
  position: absolute;
  bottom: -30px;
  left: 30px;
  z-index: -1;
}

main section.about-me .about-me-box {
  width: 500px;
  text-align: justify;
}

.container-about .title-about h2 {
  color: var(--colorFuentes);
  font-size: 32px;
  font-weight: bold;
  font-family: var(--titleFuente);
}

.container-about .divider {
  width: 60px;
  height: 4px;
  background-color: var(--colorPrincipal);
  display: block;
  margin: 16px 0;
}

.container-about .body-information {
  margin-bottom: 4rem;
}

.container-about .body-information p {
  display: block;
  font-family: var(--textFuente);
  margin-bottom: 16px;
  color: var(--colorSubfuentes);
}

.container-about .cv-link-contacto a {
  color: var(--colorFuentes);
  text-decoration: none;
  font-family: var(--titleFuente);
  text-transform: uppercase;
  margin-right: 16px;
  transition: all 0.5s ease;
  border: 1px solid var(--colorPrincipal);
}

.container-about .cv-link-contacto a:nth-child(1):hover {
  background-color: transparent;
}

.container-about .cv-link-contacto a:nth-child(2):hover {
  background-color: var(--colorPrincipal);
}

/* -----------------------MAIN SECTION-ABOUT-ME END---------------------------- */

.title-skil {
  width: 200px;
  font-family: var(--titleFuente);
}

.body-skill span {
  font-family: var(--subtitle);
  color: var(--colorSubfuentes);
}

/* -----------------------MAIN SECTION-PORTAFOLIO START---------------------------- */

main section.portafolio-box {
  text-align: center;
  margin: 16px 0;
  color: var(--colorFuentes);
}

main section.portafolio-box .header-portafolio .title-portafolio h2 {
  letter-spacing: 4px;
  font-size: 18px;
  font-family: var(--titleFuente);
  color: var(--colorPrincipal);
}

main section.portafolio-box .header-portafolio .title-portafolio span {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-portafolio {
  margin-bottom: 34px;
}
.body-portafolio {
  margin-top: 44px;
}

main section.portafolio-box .body-portafolio .menu-portafolio nav {
  margin-bottom: 32px;
}

main section.portafolio-box .body-portafolio .menu-portafolio nav ul {
  list-style: none;
}

main section.portafolio-box .body-portafolio .menu-portafolio nav ul li {
  display: inline-block;
  padding: 10px 8px;
}

main section.portafolio-box .body-portafolio .menu-portafolio nav ul li a {
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s ease;
  color: var(--colorSubfuentes);
  cursor: pointer;
  font-family: var(--titleFuente);
}

main
  section.portafolio-box
  .body-portafolio
  .menu-portafolio
  nav
  ul
  li
  a:hover {
  color: var(--colorPrincipal);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 16px;
  position: relative;
}

.cards .card {
  width: 380px;
  height: 280px;
  margin-right: 16px;
  overflow: hidden;
  position: relative;
}

.cards .card .header-card img {
  border-radius: 10px;
}

.cards .card .body-card {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
}

.cards .card .body-card .title-card span {
  color: var(--colorPrincipal);
  font-size: 20px;
  font-family: var(--subtitle);
}

.cards .card .body-card .tecnology-user span i {
  font-size: 22px;
  padding: 4px;
  background-color: #fff;
}

/* -----------------------MAIN SECTION-PORTAFOLIO END---------------------------- */

/* -----------------------MAIN SECTION-SLILL SET START---------------------------- */

main section.skill-set {
  text-align: center;
  padding: 16px;
}

main section.skill-set .skill-set__box .title-skill {
  margin-bottom: 32px;
}

main section.skill-set .skill-set__box .title-skill h2 {
  letter-spacing: 4px;
  font-size: 18px;
  color: var(--colorPrincipal);
  text-transform: uppercase;
  font-family: var(--titleFuente);
}

main section.skill-set .skill-set__box .title-skill span {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--colorFuentes);
}

.grid-skill__cards {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  position: relative;
}

.card-skill {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 3;
  top: 0%;
  left: -2000px !important;
  border-radius: 20px;
  background-color: var(--colorFuentes);
  width: 18em;
  height: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.mostrar-tooltip {
  opacity: 1 !important;
  left: -95px !important;
}

.tooltip::after {
  content: "";
  left: calc(50% 15px);
  z-index: 1;
  display: block;
  border-top: 20px solid var(--colorFuentes);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  bottom: -15px;
  position: absolute;
}

.tooltip .left-f {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 8px;
  align-items: center;

  background: var(--colorBase); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorFuentes)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorBase)
  );
}

.grid-skill__cards .img-skill {
  background: var(--colorBase); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorFuentes)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorBase)
  );

  width: 100px;
  height: 100px;
  padding: 8px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

.grid-skill__cards .img-skill a {
  transition: 1s;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.grid-skill__cards .img-skill:hover > a {
  background-color: var(--colorFuentes);
}

.grid-skill__cards .img-skill a img {
  position: relative;
}

.php-img {
  width: 50px;
}

/* -----------------------MAIN SECTION-SLILL SET END---------------------------- */

/* -----------------------MAIN SECTION-CONTACTO SET START---------------------------- */
.title-contacto {
  margin-top: 32px;
  text-align: center;
}

.title-contacto h2 {
  letter-spacing: 4px;
  font-size: 18px;
  font-family: var(--titleFuente);
  color: var(--colorPrincipal);
  text-transform: uppercase;
}

.title-contacto span {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--colorFuentes);
}

.contacto-flex__section {
  padding: 16px;
}

.contacto-flex__section .formulario-contacto form input {
  display: block;
  width: 100%;
  padding: 20px 0 10px 0;
  margin-bottom: 16px;
  background-color: transparent;
  border: none;
  outline: 0px;
  color: var(--colorFuentes);
}

.contacto-flex__section .formulario-contacto form .input-group {
  position: relative;
}

.contacto-flex__section .formulario-contacto form .lbl-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--colorBase50);
  overflow: hidden;
}

.contacto-flex__section .formulario-contacto form .lbl-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--colorPrincipal);
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.contacto-flex__section .formulario-contacto form .lbl-name .texto-lbl {
  color: var(--colorFuentes);
  position: absolute;
  left: 0;
  font-family: var(--subtitle);
  bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.formulario-contacto form input:focus + .lbl-name .texto-lbl,
.formulario-contacto form input:valid + .lbl-name .texto-lbl {
  transform: translateY(-150%);
  font-size: 14px;
  color: var(--colorPrincipal);
}

.formulario-contacto form input:focus + .lbl-name::after,
.formulario-contacto form input:valid + .lbl-name::after {
  transform: translateX(0);
}

.contacto-flex__section .formulario-contacto form textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  color: var(--colorFuentes);
  outline: 0px;
  padding: 16px;
  font-family: var(--subtitle);
}

.contacto-flex__section .formulario-contacto form button {
  display: block;
  width: 20%;
  font-family: var(--titleFuente);
  margin: auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 14px;
  border: 1px solid var(--colorPrincipal);
  margin-top: 16px;
  color: var(--colorFuentes);
  font-size: 18px;
  border-radius: 10px;
  background-color: var(--colorPrincipal);
}

.contacto-flex__section .formulario-contacto form button:hover {
  background-color: transparent;
}

.redes-contacto {
  margin-top: 34px;
  width: 100%;
  text-align: center;
}

.redes-contacto .social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.redes-contacto .social-media .list a {
  color: var(--colorFuentes);
  padding: 16px;
}

.redes-contacto .social-media .list a span i {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.redes-contacto .social-media .list a span i:hover {
  transform: scale(2.1);
  color: var(--colorPrincipal);
}

.redes-contacto .social-media .copyright {
  margin-top: 16px;
}

.redes-contacto .social-media .copyright span {
  color: var(--colorSubfuentes);
  font-size: 16px;
  font-family: var(--textFuente);
}
/* -----------------------MAIN SECTION-CONTACTO SET END---------------------------- */

/* -----------------------MAIN SECTION-RESPONSIVE DESIGN  START---------------------------- */

@media only screen and (max-width: 600px) {
  header {
    height: auto;
  }
  .mostrar {
    left: 0% !important;
  }

  .close-modal-s {
    z-index: 6;
  }

  .close-list {
    display: inline-block;
    padding: 4px;
    width: 100%;
    text-align: center;
  }

  .close-list span i {
    color: var(--colorFuentes);
    font-size: 32px;
  }

  .navigation {
    width: 100%;
    background-color: var(--colorFuentes);
  }

  .navigation .menu {
    position: absolute;
    left: -150%;
    top: 98px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    width: 100%;
  }

  .navigation ul li {
    display: block;
    width: 100%;
    background-color: var(--colorBase);
  }
  .logo {
    width: auto !important;
    border-radius: 20px;
  }
  .responsive-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 1000%;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
  }

  .mostrar .barra2 {
    opacity: 0;
  }
  .mostrar .barra1 {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: red;
  }
  .mostrar .barra3 {
    transform: rotate(-45deg) translate(3px, -4px);
    background-color: red;
  }

  .barra1,
  .barra2,
  .barra3 {
    transition: all 0.5s ease-in-out;
    width: 20px;
    height: 3px;
    display: block;
    background-color: var(--colorBase);
  }
  .barra2 {
    margin: 3px 0;
  }

  .items-header {
    display: block;
    width: 100%;
    padding-top: 16px;
  }

  .items-header .bg-picture {
    margin: 0 auto;
  }

  .present {
    width: 80%;
    margin: 0 auto;
    padding-top: 16px;
  }

  .text-list {
    width: 100%;
    text-align: center;
  }

  .present .links-header {
    display: block;
    margin-bottom: 16px;
  }

  .present .links-header a {
    position: relative;
    display: block;
  }

  .links-red {
    display: block;
    position: relative;
  }

  .arrow-guide {
    display: block;
    position: relative;
    width: 100%;
  }

  .list-social {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
    top: -100;
    width: 100%;
  }

  .arrow-guide {
    display: none;
  }

  .list-social nav ul {
    text-align: center;
  }

  .list-social nav ul li {
    display: inline-block;
    margin: 16px;
  }

  .list-social nav ul li a {
    position: relative;
  }

  .sticky .menu {
    top: 40px;
  }
  .sticky .responsive-menu {
    width: auto;
    margin: 4px 0;
  }

  .modal-sericios {
    position: fixed;
    height: 100vh;
    overflow-x: auto;
  }

  .container-services-flex .title-services h2 {
    font-size: 17px;
    color: #000;
  }

  .box-services {
    height: auto;
    padding: 0;
    display: block;
  }

  .contacto-flex__section .formulario-contacto form button {
    width: auto;
  }

  main section.about-me {
    width: 100%;
    display: block;
    padding: 16px;
  }

  .pic-box {
    display: block;
    position: relative;
    margin-top: 16px;
  }

  .pic-container {
    margin-left: 0;
  }

  main section.about-me .about-me-box {
    display: block;
    width: 100%;
  }

  .container-about .cv-link-contacto a {
    display: block;
    margin-bottom: 16px;
    text-align: center;
  }

  .container-about .body-information {
    margin-bottom: 16px;
  }

  main section.portafolio-box {
    display: block;
    width: 100%;
    padding-top: 24px;
    position: relative;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .cards .card {
    width: 100%;
    height: 100%;
  }

  main section.skill-set {
    width: 100%;
  }

  .grid-skill__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .tooltip {
    visibility: hidden;
    display: none;
  }

  main section.portafolio-box .body-portafolio .menu-portafolio nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main section.portafolio-box .body-portafolio .menu-portafolio nav ul li {
    padding: 10px 4px;
    position: relative;
  }

  .cards .card .body-card .title-card span {
    font-size: 19px;
  }
}

/* -----------------------MAIN SECTION-CONTACTO SET END---------------------------- */
